.todo-item.checked {
    background-color: brown;
    opacity: 0.5;
}

.todo-item.deletion {
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}